@charset "ISO-8859-1";

#log-out{
     margin-top: 1%;
     margin-right: 1%;
     margin-left: 93%;
     position:relative;
}

h1{
	margin-left:2%
}

#status-select{
	width:10%;
	margin-left:87.25%;
	margin-bottom:1.5%;
}

.card{
	width:96%;
	margin-left:1.5%;
}

#approved-button {
	margin-right:10%;
}

#create-reimbursement{
	margin-left: 2%;
	margin-bottom: 2%;
}
